<html>
<head>
    <title>Hello World!</title>
</head>
<body>
<form action="/join" method="post">
    <label>email</label>
    <input type="text" id="email" name="email">
    <label>password</label>
    <input type="password" id="password" name="password">
    <label>name</label>
    <input type="text" id="name" name="name">
    <input type="submit" value="가입하기">
</form>

</body>
</html>